---
spring:
  application:
    name: cook
  config:
    import: "optional:configserver:"

encrypt:
  keyStore:
    location: classpath:/server.jks
    password: letmein
    alias: mytestkey
    secret: changeme

management:
  endpoints:
    web:
      exposure:
        include: "*"
